<!--
<header class="mdl-layout__header">
	<div class="mdl-layout__header-row nav-row">

		<span class="mdl-layout-title pointer"
		      onclick="javascript:window.location.href='/'">
			<img class="title-logo" border="0" src="/img/logo.png">
			<h4 class="page-title">MY DOG POOPED.</h4>
		</span>

		<div class="mdl-layout-spacer"></div>

		<nav class="mdl-navigation mdl-layout--large-screen-only">
			<a class="mdl-navigation__link" href="/dad-life">Dad Life</a>
		</nav>
	</div>
</header>
<div class="mdl-layout__drawer mdl-layout--no-desktop-drawer-button">
	<span class="mdl-layout-title">STGG</span>
	<nav class="mdl-navigation">
		<a class="mdl-navigation__link" href="/">Home</a>
		<a class="mdl-navigation__link" href="/dad-life">Dad Life</a>
	</nav>
</div>
-->