
<div class="home-page-ctr"
     id="fullPage">

	<div class="mdl-grid section"
	     data-anchor="panel0">

		<div class="mdl-cell
			mdl-cell--12-col
			mdl-cell--12-col-phone
			mdl-cell--12-col-tablet
			mdl-cell--12-col-desktop
			home-text">
			<div class="home-text-big top"  data-depth="0.4">
				<h1 class="purple-stroke center-align">ASHTA PA MABACHA CHA KUR ENNI-YA!</h1>
				<h5 class="purple-stroke center-align">Working on new flavors. Tell your mom.</h5>
			</div>
		</div>
		<div class="mdl-cell
			mdl-cell--12-col
			mdl-cell--12-col-phone
			mdl-cell--12-col-tablet
			mdl-cell--12-col-desktop
			home-text">
			<div class="center-content center-align">
				<div class="tri-link" onclick="javascript:go('panel1')"></div>
			</div>
		</div>
	</div>


</div>
